# MongoDB Connection String
DATABASE_URI=mongodb://db/<your-database-name>

PAYLOAD_SECRET=YOUR_SECRET_HERE

NEXT_PUBLIC_APP_URL="http://localhost:3000"

#stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""